header {
  padding-top: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-holder {
  max-width: 1285px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header-ham-btn {
  font-size: 36px;
  color: hsl(162, 39%, 22%);
  cursor: pointer;
}

.logo {
  width: 60px;
  height: 50px;
}

.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-item {
  cursor: pointer;
}

.nav-btn {
  max-width: 120px;
  width: 100%;
  font-family: inherit;
  background-color: hsl(162, 39%, 22%);
  border: none;
  border-radius: 20px;
  padding: 8px 0px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  cursor: pointer;
  border: 1px solid hsl(162, 39%, 22%);
}

.nav-btn:hover {
  background-color: hsl(78, 58%, 77%);
  color: hsl(162, 39%, 22%);
}

/*FOOTER*/
footer {
  padding-top: 40px;
  background-color: hsl(162, 39%, 22%);
}

.footer-holder {
  max-width: 1285px;
  width: 100%;
  margin: 0px auto;
}

.footer-nav-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer-nav-item-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
  color: hsl(94, 54%, 95%);
}

.footer-nav-item {
  cursor: pointer;
}

.footer-logo {
  width: 65px;
  height: 50px;
  color: hsl(94, 54%, 95%);
}

.footer-socials-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-social-icon {
  font-size: 22px;
  color: hsl(94, 54%, 95%);
  cursor: pointer;
}

.footer-attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsl(94, 54%, 95%);
  padding: 30px 0px;
  margin-top: 20px;
  font-family: "Teachers";
  color: hsl(94, 54%, 95%);
  font-size: 14px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .footer-holder {
    width: 95%;
  }

  .header-holder {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .nav-holder {
    gap: 20px;
  }
}

@media screen and (max-width: 820px) {
  .footer-attribute {
    flex-direction: column-reverse;
    gap: 16px;
    text-align: center;
    line-height: 1.7;
  }
}

@media screen and (max-width: 500px) {
  .footer-nav-holder {
    flex-direction: column;
  }

  .footer-nav-item-holder {
    flex-direction: column;
  }
}
